.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 295px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
