.env
.idea
__pycache__
*.xml
venv
backend/__pycache__
alembuc/__pycache__
.env.override
*.iml
specs
devtips
devstips
backend/core/yandex_service/scatches/mvp
frontend/design/png
frontend/design/refactor