.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2px;
}
